<article class="listing listing-{{build.status}}">
  <h3>{{#link-to "builds.show" build}}#{{build.id}} {{build.label}}{{/link-to}}</h3>
  <div class="detail status">
    <span>status:</span> {{build.status}}
  </div>
</article>