<article class="listing listing-{{repo.status}}">
  <h3>{{#link-to "repos.show" repo}}{{repo.name}}{{/link-to}}</h3>
  <div class="detail status">
    <span>status:</span> {{repo.status}}
  </div>
</article>