<article class="entry entry-{{repo.overall}}">
  <h3>{{#link-to "repos.show" repo}}{{repo.owner}}/{{repo.name}}{{/link-to}}</h3>
  <div class="detail status">
    <span>master:</span> {{repo.overall}}
  </div>
</article>