<div class="jumbo">
  <h2>about</h2>
  <p>
    oxidize.io a personal project for automated building and testing of Rust code. The goal is to provide extended coverage across a variety of architectures, style-checking and linting, benchmark and fuzz testing.
  </p>
</div>