<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>oxidize.io</h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        about
      {{/link-to}}
      {{#link-to 'repos'}}
        repos
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
